@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc((var(--slide-width) + 2rem) * var(--no-of-slides) * -1));
  }
}

.logoConveyorWrapper {
  overflow: hidden;
  width: calc(var(--slides-in-view) * (var(--slide-width) + 2rem)); 
  margin: 2rem auto;
  position: relative;
}

.logoConveyor {
  display: flex;
  align-items: center;
  animation: scroll var(--iteration-time) linear infinite;
  will-change: transform; 
}

.logoContainer {
  flex: 0 0 auto;
  padding: 0 1rem; 
  width: var(--slide-width); 
}