.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    height: auto;
    padding: 2rem;
    text-align: left; 
    margin: 0 auto;
    max-width: var(--max-width);
    color: var(--text-color);
    transition: all 0.3s ease;
}

.container h1 {
    font-size: 4rem;
    font-weight: bold;
    margin: 1rem 0;
}

.container p {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.container p {
    animation: fadeInFromBottom 2s ease-out forwards;
}

@keyframes fadeInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}